target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Ignorer node_modules
/node_modules/

# Ignorer les fichiers générés par npm
package-lock.json

# Ignorer le CSS généré par Tailwind (si vous ne voulez pas le versionner)
/src/main/webapp/ressources/css/output.css

# Ignorer les fichiers de logs npm
npm-debug.log
yarn-debug.log
yarn-error.log